.signup, .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup{
    height:100vh;
    background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(88,160,175,1) 50%);
}

.formContainer{
    background-color: white;
    border: 2px solid white;
    padding: 2rem;
    border-radius: 3rem;
    margin-top: 2.5rem;
    width: 30vw;
}

